{% extends 'base.html' %}

{% block head %}
    <style>
        .body {
            text-align: center;
        }
        h1 {
            font-size: 80px;
        }
        h2 {
            font-size: 40px;
            color:#53868B;
        }
        p {
            font-size: 30px;
            color:#53868B;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="body">
        <h1><a style="color: #53868B;">4</a><a style="color: #00CDCD;">0</a><a style="color: #53868B;">4</a></h1>
        <h2>Page not found</h2>
        <p>Try checking the url or contact with our web support</p>
    </div>
{% endblock %}