{% extends 'base.html' %}

{% block head %}
    <style>
        .user-profile-img {
            width: 80px;
            aspect-ratio: 1;
            border-radius: 100px;
        }

        .description-div {
            width: 100%;
            word-wrap: break-word;
            margin-bottom: 10px;
        }
        .user-profile-description {
            transition-duration: 0.3s;
            resize: none;
            width: 75%;
            position: relative;left: 50%;
            transform: translateX(-50%);
            font-size: 20px;
            background: transparent;
            border: transparent;
            padding: 10px;
        }

        .posts-table {
            position: relative;left: 50%;
            transform: translateX(-50%);
        }
        .post-td {
            width: 108ch;
            padding: 1ch;
            background-color: #80d0de;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            border-bottom-left-radius: 30px;
            border-bottom-right-radius: 30px;
        }
        .post-img {
            width: 70ch;
            aspect-ratio: 1;
            position: relative;left: 50%;
            transform: translateX(-50%);
            max-width: 570px;

        }
        .post-description {
            word-wrap: break-word;
        }
    </style>
{% endblock %}

{% block body %}
    <h1 style="text-align: center;">{{user_info["username"]}}'s profile</h1>
    <!--profile image-->
    <p style="text-align: center;">
        <img src="{{url_for('static',filename=user_info['profile pic path'])}}" class="user-profile-img"> 
        <a style="position: relative;top: -40px; font-size: 30px;margin-left: 10px;">{{user_info["username"]}}</a>
    </p>

    <!--profile description-->
    <div class="description-div">
        <pre name="description" class="user-profile-description" placeholder="Enter a profile description">{{user_info["profile description"]}}</pre>
    </div>
    
    <!--user posts-->
    {% if user_info["posts divide to 3"] != [] %} <!--didnt upload posts-->
        <p style="text-align:center; font-size: 20px;">Posts:</p>
        <table class="posts-table">
            {% for posts_ids in user_info["posts divide to 3"] %}
                <tr>
                    {% for post_id in posts_ids %}
                        <td class="post-td">
                            <p>By: <b>{{posts_info[post_id]["by"]}}</b></p>
                            <a href="/show post/{{post_id}}"><img class="post-img" src="{{url_for('static',filename=posts_info[post_id]['pic path'])}}"></a>
                            <p>Description:</p>
                            <p class="post-description">{{posts_info[post_id]["description"]}}</p>
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p style="text-align:center; font-size: 20px;">{{user_info["username"]}} didn't upload posts so far</p>
    {% endif %}
{% endblock %}