{% extends 'base.html' %}

{% block head %}
    <style>
        .post-div {
            position: relative;left: 50%;
            transform: translateX(-50%);
            margin: 10px;
            width: 108ch;
            padding: 1ch;
            background-color: #80d0de;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            border-bottom-left-radius: 30px;
            border-bottom-right-radius: 30px;
        }
        .post-img {
            width: 70ch;
            aspect-ratio: 1;
            position: relative;left: 50%;
            transform: translateX(-50%);
            max-width: 570px;

        }
        .post-description {
            word-wrap: break-word;
        }
    </style>
{% endblock %}

{% block body %}
    <h1 style="text-align:center;">Home</h1>
    <h2 style="text-align:center;"> Last 10 posts</h2>
    {% for post_id in posts_info %}
        <div class="post-div">
            <p>By: <b>{{posts_info[post_id]["by"]}}</b></p>
            <a href="/show post/{{post_id}}"><img class="post-img" src="{{url_for('static',filename=posts_info[post_id]['pic path'])}}"></a>
            <p>Description:</p>
            <p class="post-description">{{posts_info[post_id]["description"]}}</p>
        </div>
    {% endfor %}

    {% if show_js_profile_question == True %}
        <script>alert("Congratulations on creating your new user.\nYou can edit your profile from your user icon dropdown in the top-left")</script>
    {% endif %}
{% endblock %}