{% extends 'base.html' %}

{% block head %}
    <style>
        .post {
            background: rgba(255,255,255,0.7);
            border: 1px solid rgb(240,240,240);
            width: 500px;
            height: fit-content; /* makes the height to be by whats inside the div */
            position: relative;left: 50%;
            transform: translateX(-50%);
            padding: 5px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            border-bottom-left-radius: 30px;
            border-bottom-right-radius: 30px;
            margin-top: 10px;
        }
        .post-img {
            width: 500px;
            aspect-ratio: 1;
        }
        .comment-img {
            width: 30px;
            aspect-ratio: 1;
            margin: 5px;
            opacity: 100%; /* change when hovering to 80% */
        }
        .comment-img:hover {
            opacity: 80%;
        }
        .post-description {
            word-wrap: break-word;
            font-size: 20px;
        }
        .pre {
            font-size: 15px;
        }

        .user-uploaded-profile-img {
            font-size: 20px;
            width: 5ch;
            aspect-ratio:1;
            border-radius: 100px;
            margin-left: 5px; margin-right: 5px;
        }
        .user-uploaded-name {
            font-size: 20px;
            position: relative;top: -2ch;
            word-wrap: break-word; /* down a line in case his username is too long */
        }
        .go-to-user-uploaded-a {
            text-decoration: none;
            color: #000;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="post">
        <!--
            user_uploaded: {'username': 'yair', 'profile pic path': 'users data/users_icons/yair.PNG'} 
            post dict:     {'by': 'yair', 'pic path': 'users data//posts//1.PNG', 'description': 'This is my first post'}
        -->
        <p>
            <a style="position: relative;top: -20px;">By: </a>
            <a href="/show profile/{{user_uploaded['username']}}" class="go-to-user-uploaded-a">
                <img class="user-uploaded-profile-img" src="{{url_for('static',filename=user_uploaded['profile pic path'])}}"> 
                <b class="user-uploaded-name">{{user_uploaded["username"]}}</b>
            </a>
        </p>

        <img src="{{url_for('static',filename=post_dict['pic path'])}}" class="post-img">
        <a href="/comments/{{post_dict['id']}}">
            <img src="{{url_for('static',filename='comment icon.jpg')}}" class="comment-img">
        </a>
        <p class="post-description">Description:</p>
        <pre class="post-description pre">{{post_dict["description"]}}</pre>
    </div>
{% endblock %}