{% extends 'base.html' %}

{% block head %}
    <style>
        .login-div {
            background: #a2efff;
            width: 100ch;
            aspect-ratio: 1.5;
            position: relative;left: 50%;
            margin-top: 10px;
            transform: translateX(-50%);
            border-radius: 20px;
            border: 2px solid #4b92a0;
        }
        .login-div p {
            font-size: 25px;
            text-align: center;
        }
        
        .login-btn {
            transition-duration: 0.3s;
            font-size: 25px;
            border-radius: 100px;
            border: 2px solid #00acf0;
            background: transparent;
        }
        .login-btn:hover {
            background: #00acf0;
        }
        .login-btn:active {
            background: #006c97;
            color: #fff;
        }

        .login-div-inputs {
            transition-duration: 0.3s;
            font-size: 25px;
            border: 2px solid rgb(0,208,208);
            border-radius: 20px;
            padding-left: 10px;
        }
        .login-div-inputs:hover {
            border: 2px solid rgb(0,139,139);
        }
        .login-div-inputs:focus {
            background: rgba(0,139,139,0.5);
        }
        .link-a {
            color: #07f;
            text-decoration: transparent;
        }
    </style>
{% endblock %}

{% block body %}
    <form method="post">
        <div class="login-div">
            <h1 style="text-align: center;">Reset password</h1>
            <p>Enter the username you want the password of</p>
            <p>Username: <input name="username" class="login-div-inputs" placeholder="Username:" value="{{username}}"></p>
            
            
            <p><a href="/login" class="link-a">return to login</a></p>
            <p><input type="submit" class="login-btn" value="Send"></input></p>
            {% if error != "" and error != "An email has been send with the user information" %}
                <p style="color: #f00;">{{error}}</p>
            {% elif error == "An email has been send with the user information" %}
                <p style="color: #00f;">{{error}}</p>
            {% endif %}
        </div>
    </form>
{% endblock %}